<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.arthur.mapper.UsersMapper">

    <sql id="all">
        username,
        password
    </sql>

    <select id="getByName" parameterType="string" resultType="com.cloud.arthur.bean.Users">
        select * from users where userName = #{name}
    </select>

    <select id="getUserList" parameterType="string" resultType="com.cloud.arthur.bean.Users">
        select * from users
    </select>
</mapper>
